body{
   background-image: url('https://wallpaperaccess.com/full/358836.jpg');
   background-attachment: fixed;
    background-repeat: no-repeat;


}
.start{
    padding-left: 50px;
    margin-top: 25px;
    font-size: 70px;
    margin-right: 600px;
    margin-left: 50px;
    display: inline-block;
    clear: right;
    line-height: 90px;
}
.st2{
    margin-right: 800px;
    margin-left: 100px;
    font-size: 25px;
    line-height: 30px;

}
.st3{
    margin-top: 200px;
    margin-left: 700px;
    font-size: 25px;
    line-height: 30px;
    clear: right;

}
.b1{
    height: 45px;
    margin-top: 10px;
    margin-right: 800px;
    border-radius: 10px;
    background-image: linear-gradient(to right,#FF8A68,#FF6D50);
    cursor: pointer;

}
.b2{
    height: 45px;
    margin-top: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right,#FF8A68,#FF6D50);
    cursor: pointer;

}
input{
    height: 50px;
    width: 50px;
}
.logo{
    margin-top: 200px;
    text-align: center;

}
.sec{
    display: flex;    
}
.exp1{
    background-color: rgba(240, 248, 255, 0.651);
    box-shadow: 10px 10px 100px rgb(88, 88, 88);
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice:1;
    height: 300px;
    width: 600px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
    line-height: 25px;
}
.exp2{
    background-color: rgba(240, 248, 255, 0.651);
    box-shadow: 10px 10px 100px rgb(88, 88, 88);
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice:1;
    height: 300px;
    width: 600px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
    line-height: 25px;


}
footer{
    text-align: center;
}